/* MAIN FONT FAMILY */
/* MAIN FONT SIZE */
/* COLORS VARIABLES */
@font-face {
  font-family: "Expo Arabic";
  src: url("../fonts/ExpoArabic-Medium.woff2") format("woff2"), url("../fonts/ExpoArabic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Expo Arabic";
  src: url("../fonts/ExpoArabic-SemiBold.woff2") format("woff2"), url("../fonts/ExpoArabic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Expo Arabic Book";
  src: url("../fonts/ExpoArabic-Book.woff2") format("woff2"), url("../fonts/ExpoArabic-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Expo Arabic";
  src: url("../fonts/ExpoArabic-Light.woff2") format("woff2"), url("../fonts/ExpoArabic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Expo Arabic";
}
a:hover {
  color: inherit;
}

img,
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

html {
  background: rgba(186, 186, 186, 0.2);
}

body {
  font-family: "Expo Arabic";
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

*::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 25px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
  width: 10px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.input {
  padding-bottom: 5px;
  border: 0.5px solid #E6E6E6;
  border-radius: 8px;
  padding: 13px 12px;
}

input,
textarea,
select {
  border: unset;
  outline: none;
  width: 100%;
  direction: inherit;
  font-size: 16px;
  color: #000000;
  font-weight: 300;
  height: 30px;
  background: transparent;
  font-family: "Expo Arabic";
}
input ::-moz-placeholder, textarea ::-moz-placeholder, select ::-moz-placeholder {
  color: #BABABA !important;
}
input ::placeholder,
textarea ::placeholder,
select ::placeholder {
  color: #BABABA !important;
}

textarea {
  max-height: 60px;
  font-size: 14px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

textarea {
  resize: none;
  height: 150px;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

::-moz-selection {
  background: #BABABA;
  color: #fff;
}

::selection {
  background: #BABABA;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F8F8FF;
}

::-webkit-scrollbar-thumb {
  background-color: #BABABA;
  border-radius: 30px;
}

input[type=file i]::-webkit-file-upload-button {
  display: none;
}

section {
  padding: 50px 0;
}

/* display grid mixin 
DEFAULT VALUE 265PX DIVIDE WRAPPER TO 3 COLUMS 
YOU NEED TO PUT VALUE IN MIXIN WITH PX  >>>  EXAMPLE 
@include displayGrid(265px);
*/
/*
---TEXT TRUNCATE
> $lines => the max number of lines to show before ellipses.
> $maxWidth => max width of text element.
*/
.main-btn {
  width: 100%;
  height: 60px;
  color: #fff;
  background: #000000;
  font-size: clamp(14px, 2.5vw, 18px);
  font-weight: 500;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border: 1px solid;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Expo Arabic" !important;
  margin: 20px auto 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4px;
}
.main-btn .p-progressspinner {
  margin: 0;
}
.main-btn::after, .main-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #fff;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.main-btn::before {
  transition-delay: 0.1s;
}
.main-btn i.pi {
  font-size: 16px;
}
.main-btn:hover {
  animation: pulse-m 1s infinite;
  color: #000000;
  border: 1px solid #000000 !important;
}
.main-btn:hover::after, .main-btn:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.main-btn.centered {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
}
.main-btn.danger {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4px;
  background: #F32323;
}
.main-btn.danger:hover {
  animation: pulse-danger 1s infinite;
  border-color: #F32323 !important;
  color: #F32323;
}
.main-btn.danger:hover::after, .main-btn.danger:hover::before {
  background: #fff;
}
.main-btn.disabled {
  pointer-events: none;
  background: #BABABA;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-btn.disabled::after, .main-btn.disabled::before {
  display: none !important;
}

.main-btn.reversed {
  background: transparent;
  color: #000000;
  border: 1px solid #000000 !important;
}
.main-btn.reversed::after, .main-btn.reversed::before {
  background: #000000;
}
.main-btn.reversed:hover {
  color: #fff;
  animation: pulse-reversed 1s infinite;
}
.main-btn.reversed.danger {
  border-color: #F32323 !important;
  color: #F32323;
}
.main-btn.reversed.danger::after, .main-btn.reversed.danger::before {
  background: #F32323;
}
.main-btn.reversed.danger:hover {
  background: #F32323 !important;
  color: #fff;
  animation: pulse-danger-reversed 1s infinite;
}
.main-btn.reversed.danger:hover::after, .main-btn.reversed.danger:hover::before {
  background: #F32323;
}

@keyframes pulse-m {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-reversed {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(243, 35, 35, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(243, 35, 35, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(243, 35, 35, 0);
  }
}
@keyframes pulse-danger-reversed {
  0% {
    box-shadow: 0 0 0 0 rgba(243, 35, 35, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(243, 35, 35, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(243, 35, 35, 0);
  }
}
/* Transition Styles */
.fade-blur-enter-active, .fade-blur-leave-active {
  transition: opacity 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.fade-blur-enter, .fade-blur-leave-to {
  opacity: 0.3;
  filter: blur(5px);
}

.p-inputotp {
  gap: clamp(8px, 100%, 20px);
  margin-bottom: clamp(15px, 100%, 70px);
}

.p-inputotp-input {
  border: 1px solid #e4e4e4 !important;
  width: clamp(63px, 100%, 84px) !important;
  height: clamp(63px, 100%, 84px) !important;
  border-radius: 12px !important;
  font-size: 30px !important;
  padding: 0 !important;
}

form h3,
.form h3 {
  font-size: 14px;
  font-weight: 400;
}
form h3 + hr,
.form h3 + hr {
  margin-block: 4px 10px;
}
form .inputs,
.form .inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
}
form .inputs .input-wrap,
.form .inputs .input-wrap {
  flex-grow: 1;
}
form .input-wrap:not(:last-of-type),
.form .input-wrap:not(:last-of-type) {
  margin-bottom: 8px;
}
form .input-wrap label,
.form .input-wrap label {
  font-size: 14px;
  font-weight: 400;
}
form .input-wrap label span,
.form .input-wrap label span {
  color: #BABABA;
  font-size: 12px;
}
form .input-wrap .input,
.form .input-wrap .input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4px;
  padding-bottom: 5px;
  border: 0.5px solid #E6E6E6;
  border-radius: 8px;
  padding: 2px 8px;
  position: relative;
}
form .input-wrap .input i.pi,
.form .input-wrap .input i.pi {
  color: #BABABA;
}
form .input-wrap .input i.pi.pi-lock, form .input-wrap .input i.pi.pi-lock-open,
.form .input-wrap .input i.pi.pi-lock,
.form .input-wrap .input i.pi.pi-lock-open {
  cursor: pointer;
}
form .input-wrap .input input,
form .input-wrap .input select,
.form .input-wrap .input input,
.form .input-wrap .input select {
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  padding-inline-start: 1px;
}
form .input-wrap .input .country_code,
.form .input-wrap .input .country_code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #BABABA;
}
form .input-wrap .input .country_code .image,
.form .input-wrap .input .country_code .image {
  margin-bottom: 0;
  width: 30px;
}
form .input-wrap .input .country_code .image img,
.form .input-wrap .input .country_code .image img {
  -o-object-fit: contain;
     object-fit: contain;
}
form .main-btn + p,
.form .main-btn + p {
  font-size: 14px;
  font-weight: 400;
  color: #BABABA;
  text-align: center;
  margin-top: 20px;
}
form .main-btn + p a,
.form .main-btn + p a {
  color: #000000;
  font-weight: 900;
  margin-inline-start: 5px;
}

.auth_page .form .input-wrap:last-of-type .input,
.auth_page form .input-wrap:last-of-type .input {
  border: none;
  justify-content: flex-start;
}
.auth_page .form .input-wrap:last-of-type .input input,
.auth_page form .input-wrap:last-of-type .input input {
  width: 20px;
}

.popup {
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.popup .close_btn {
  position: absolute;
  inset-inline-end: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  transition: 0.6s;
  border: 1px solid #F32323;
  color: #F32323;
  z-index: 99;
}
.popup .close_btn:hover {
  border: 1px solid transparent;
  background: #F32323;
  color: #fff;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
  background: #fff;
  padding-block: 20px clamp(20px, 2.5vw, 20px);
  text-align: center;
  padding-inline: clamp(8px, 2.5vw, 15px);
  height: -moz-fit-content !important;
  height: fit-content !important;
  max-height: 600px;
  overflow: hidden scroll;
}
.popup .content::-webkit-scrollbar {
  display: none !important;
}
.popup .content .image {
  max-width: 200px;
  margin: 0 auto 20px;
}
.popup .content .image.circle {
  max-width: unset;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  padding: 50px;
  background: #000000;
}
.popup .content h4 {
  text-align: start;
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 500;
  border-bottom: 1px solid #BABABA;
  padding-bottom: 10px;
  margin-bottom: clamp(20px, 4vw, 40px);
}
.popup .content h4.centered {
  text-align: center;
  margin-bottom: 24px;
}
.popup .content p {
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 400;
}
.popup .content label {
  text-align: start;
  display: block;
}
.popup .content .input {
  margin-bottom: 30px;
}
.popup .content .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.popup .content .buttons button.delete_btn {
  background: #A80202;
}
.popup .content .buttons button.delete_btn:hover {
  border-color: #A80202 !important;
  color: #A80202;
  background: #fff;
}
@media (max-width: 700px) {
  .popup .content .buttons {
    flex-wrap: wrap;
  }
}
.popup.complaint_popup {
  text-align: center;
}
.popup.complaint_popup .content {
  border-radius: 15px;
}
.popup.complaint_popup .close_btn {
  left: 15px;
  top: 15px;
  background: transparent;
  border-color: #BABABA;
  color: #BABABA;
  width: 25px;
  height: 25px;
  font-size: 14px;
}
.popup.complaint_popup .close_btn:hover {
  background: #BABABA;
  color: #fff;
}
.popup.complaint_popup h3.title {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 400;
  margin-bottom: 0;
}
.popup.complaint_popup p {
  font-size: clamp(14px, 4vw, 18px);
  margin: 5px 0 18px;
}

:root {
  --pulse-color: #ff000076;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    outline: 0px solid var(--pulse-color);
  }
  100% {
    transform: scale(1.1);
    outline: 8px solid var(--pulse-color);
  }
}
.authentication_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
  background: url("../../assets/images/background.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.authentication_page .auth_page {
  max-width: 700px;
  max-height: 700px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px clamp(20px, 80%, 50px);
  overflow-y: scroll;
  width: 100%;
  background: #fff;
  border-radius: 12px;
}
.authentication_page .auth_page::-webkit-scrollbar {
  width: 0;
}
.authentication_page .auth_page .image {
  max-width: 180px;
  margin: 0 auto 40px;
}
.authentication_page .auth_page .form label.image {
  cursor: pointer;
}

.flex_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: clamp(10px, 4vw, 20px);
  margin-block: 30px 0;
  width: 100%;
}
.flex_buttons .main-btn {
  max-width: 300px;
  margin-inline: 0;
}
@media (max-width: 400px) {
  .flex_buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
  .flex_buttons .main-btn {
    margin-top: 0;
  }
}

.auction {
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(186, 186, 186, 0.1803921569);
  padding: 12px;
  border-radius: 12px;
  position: relative;
}
.auction .control_btns {
  position: absolute;
  top: 10px;
  inset-inline-end: 8px;
  display: flex;
  gap: 8px;
}
.auction .control_btns button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
  padding: 4px;
  background: #F5F5F5;
  color: #000000;
  transition: 0.3s;
}
.auction .control_btns button i {
  font-size: 12px;
}
.auction .control_btns button.delete_btn {
  color: #F32323;
  font-weight: 100;
}
.auction .control_btns button.delete_btn:hover {
  background: #F32323;
  color: #fff;
}
.auction .control_btns button:hover {
  background: #000000;
  color: #fff;
}
.auction .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
}
.auction .info .image {
  width: 53px;
  height: 53px;
  border-radius: 8px;
  overflow: hidden;
}
.auction .info h3 {
  font-size: 16px;
  font-weight: 800;
}

.container {
  max-width: clamp(300px, 100%, 1800px);
  margin: 0 auto;
  padding-inline: 20px;
  transition: 1s;
  display: flex;
}
.container.page_active {
  justify-content: flex-end;
  transition: 1s;
}
@media (max-width: 767px) {
  .container.page_active {
    transition: 1s;
    margin-inline-start: 0 !important;
  }
}

h3.title {
  text-align: center;
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
}

.auth_page .input {
  background: #FDFDFD;
  box-shadow: 0px 0px 8px 0px rgba(186, 186, 186, 0.1803921569);
}

.head {
  text-align: start;
  margin-bottom: 30px;
}
.head.centered {
  text-align: center;
}
.head.centered h3 {
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 600;
}
.head.centered p {
  font-size: 14px;
  font-weight: 400;
  color: #BABABA;
}

.p-inputotp {
  max-width: 500px;
  margin: 20px auto 40px;
  justify-content: space-evenly !important;
  height: 56px;
}
.p-inputotp .p-inputotp-input {
  width: 60px !important;
  border-radius: 6px !important;
}

.static_pages {
  width: 100%;
  transition: 1s;
}
.static_pages.mini_width {
  width: calc(100% - 260px);
}
@media (max-width: 1200px) {
  .static_pages.mini_width {
    width: calc(100% - 275px);
  }
}
@media (max-width: 767px) {
  .static_pages.mini_width {
    width: 100%;
  }
}

.static_page {
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(186, 186, 186, 0.18);
  padding: 20px 12px;
  margin-inline: auto;
  transition: 1s;
  margin-block: 15px;
}
.static_page .image {
  max-width: 120px;
  margin: 0 auto 20px;
}
.static_page .text {
  font-size: 12px;
  font-weight: 400;
  color: #1D1D1D;
}
.static_page .text h3 {
  margin-bottom: 10px;
}
.static_page .text ul {
  padding-inline: 15px;
  list-style: decimal;
}
.static_page .text hr {
  margin-block: 15px;
}

.settings_page .p-toggleswitch {
  width: 30px;
  height: 15px;
  margin-inline-start: auto;
}
.settings_page .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
  inset-inline-start: 17px !important;
}
.settings_page .p-toggleswitch-handle {
  width: 10px !important;
  height: 10px !important;
  top: 64%;
}
.settings_page .p-toggleswitch-handle.active {
  right: 15px !important;
}

.page_content {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 20px;
}
.page_content.minimized {
  transition: 1s;
  max-width: calc(100% - 275px);
}
@media (max-width: 767px) {
  .page_content.minimized {
    max-width: 100%;
  }
}

.p-multiselect-dropdown {
  justify-content: end !important;
}
.p-multiselect-dropdown svg {
  width: 11px;
}

.p-multiselect-label {
  font-size: 0;
}

.p-multiselect-label.p-placeholder {
  padding-inline-start: 0;
  font-size: 13px;
  font-weight: 300;
}

.p-multiselect-option {
  flex-direction: row-reverse;
}
.p-multiselect-option span {
  font-size: 13px;
}

.p-paginator-content {
  direction: ltr;
}

.p-paginator-page.p-paginator-page-selected {
  color: #fff !important;
  background: #000000 !important;
}

.image_uploader {
  display: block;
  border: 2px dashed #000000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
  margin: 30px auto 15px;
  transition: 0.3s;
  cursor: pointer;
}
.image_uploader img {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.image_uploader .uploaded_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.image_uploader:hover {
  background: #000000;
}
.image_uploader:hover img:not(.uploaded_img) {
  filter: invert(1);
}

label.image:not(.image_uploader) {
  text-align: center;
  width: 100%;
  display: block;
  text-wrap-mode: nowrap;
}
label.image:not(.image_uploader) span {
  color: #BABABA;
}

.page_content .add_permission_btn {
  max-width: 160px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  padding: 5px;
  margin-bottom: 18px;
  border-radius: 8px;
  margin-inline-start: auto !important;
}

.grid_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px clamp(10px, 100%, 33px);
}
.grid_content .tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px 20px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(186, 186, 186, 0.1803921569);
  padding: 12px;
  border-radius: 12px;
}
.grid_content .tab .info {
  flex-grow: 1;
}
.grid_content .tab .info h3 {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #BABABA;
}
.grid_content .tab .info h3 i.pi {
  font-size: 16px;
}
.grid_content .tab .info h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 100%;
  text-overflow: ellipsis;
  text-wrap: pretty;
}
.grid_content .tab .info ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  max-height: 30px;
  overflow-y: scroll;
}
.grid_content .tab .info ul li {
  border-radius: 4px;
  background: #E1E1E1;
  font-weight: 500;
  padding: 4px 6px;
  font-size: 11px;
}
.grid_content .tab .permission_control {
  flex-shrink: 0;
}
.grid_content .tab .permission_control .main-btn {
  border-radius: 4px;
  padding: 5px 10px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  gap: 8px;
  margin-top: 0 !important;
}
.grid_content .tab .permission_control .main-btn .pi {
  font-size: 16px;
}
.grid_content .tab .permission_control .main-btn.danger {
  margin-top: 8px !important;
}
@media (max-width: 991px) {
  .grid_content .tab {
    flex-wrap: wrap;
  }
  .grid_content .tab .permission_control {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .grid_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.p-datepicker {
  flex-grow: 1;
}

.form .input-wrap .input input {
  border: none !important;
}

input::-webkit-inner-spin-button {
  display: none;
}

.p-toast-message-error {
  z-index: 999999999 !important;
}

.filter_tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
  box-shadow: 0px 0px 8px 0px rgba(186, 186, 186, 0.1803921569);
  padding: 12px;
  border-radius: 8px;
}
.filter_tabs li.status_tab {
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #BABABA;
  transition: 0.3s;
  color: #BABABA;
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
}
.filter_tabs li.status_tab.active, .filter_tabs li.status_tab:hover {
  background: #000000;
  border-color: #000000;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 991px) {
  .filter_tabs {
    flex-wrap: wrap;
  }
  .filter_tabs li.status_tab {
    min-width: 150px;
  }
}

.page_content.auction_page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
}
.page_content.auction_page .auction_item {
  width: 50%;
}
.page_content.auction_page .auction_item:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.page_content.auction_page .auction_item .details {
  margin-top: 0;
  margin-bottom: 20px;
}
.page_content.auction_page .static_page {
  max-width: unset !important;
  margin: 0;
  padding-block: 8px;
}
.page_content.auction_page .static_page p {
  margin-top: 5px;
  font-size: 14px;
}
.page_content.auction_page .static_page.products_info .main-btn {
  height: 50px;
  font-size: 14px;
}
.page_content.auction_page .static_page.products_info .main-btn i.pi {
  font-size: 12px;
  transition: 1s;
}
.page_content.auction_page .static_page.products_info .main-btn:hover i.pi {
  padding-inline-start: 20px;
}
.page_content.auction_page .static_page.products_info .main-btn:not(first-of-type) {
  margin-top: 8px;
}
.page_content.auction_page ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px 20px;
  position: relative;
}
.page_content.auction_page ul h3.title {
  padding-bottom: 5px;
  border-bottom: 1px solid #e4e4e4;
}
.page_content.auction_page ul button {
  position: absolute;
  inset-inline-end: 8px;
  top: 10px;
  font-size: 12px;
  color: #BABABA;
  text-decoration: underline;
}
.page_content.auction_page ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px 20px;
  width: 100%;
}
.page_content.auction_page ul li h4 {
  font-size: 12px;
  display: flex;
  gap: 5px;
}
.page_content.auction_page h3.title {
  text-align: start;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}
.page_content.auction_page h3.title + hr {
  margin: 4px 0;
  background: #e4e4e4;
  width: 100%;
}
.page_content.auction_page .auction_status {
  text-align: center;
  padding-block: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  background: #d9d9d9;
  width: 100%;
}
.page_content.auction_page .auction_status.winner {
  background: rgba(1, 181, 130, 0.1019607843);
  color: #01B582;
}
@media (max-width: 991px) {
  .page_content.auction_page {
    flex-wrap: wrap-reverse;
  }
  .page_content.auction_page .auction_item {
    width: 100%;
  }
}

.product_slider {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  gap: 8px;
  width: 100%;
  max-height: 310px;
  height: 100%;
  overflow: hidden;
  padding-top: 0;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  overflow: hidden;
}
.product_slider section {
  padding: 0 !important;
}
@media (max-width: 567px) {
  .product_slider {
    height: 250px;
  }
}

#product_gallery {
  width: 100%;
  border-radius: 8px !important;
  overflow: hidden;
  background: #e4e4e4;
}
#product_gallery img {
  cursor: zoom-in !important;
}

#product_thumbnails .carousel__viewport {
  overflow: hidden !important;
}
@media (max-width: 600px) {
  #product_thumbnails .carousel__viewport {
    display: none;
  }
}

#product_thumbnails .carousel__track {
  transform: translateX(0) !important;
  flex-direction: column !important; /* Ensure vertical alignment */
  justify-content: space-between;
  transition: transform 0.5s ease-in-out; /* Smooth vertical transition */
}

#product_thumbnails .carousel__slide {
  width: 120px !important;
  max-height: 310px;
  padding-block: 2px !important;
}
#product_thumbnails .carousel__slide .thumbnail {
  width: 120px !important;
  height: 98.3333333333px !important; /* Adjust thumbnail height */
  border-radius: 4px !important; /* Optional styling */
  overflow: hidden;
  filter: brightness(0.3);
  cursor: pointer;
  transition: 0.6s;
}
#product_thumbnails .carousel__slide .thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#product_thumbnails .carousel__slide:hover .thumbnail, #product_thumbnails .carousel__slide.carousel__slide--active .thumbnail {
  filter: brightness(1) !important;
}

.p-multiselect-label:has(.p-chip) {
  display: none !important;
}/*# sourceMappingURL=style.css.map */